@{
    ViewBag.Title = "Home Page";
}







<div class="banner d-flex flex-column justify-content-center">
    <h1>Creating Sustainable Impact</h1>
</div>

<!-- 文字 -->
<div class="container col-12 my-5">
    <div class="row">
        <h1>Inspiring Environmental Change</h1>
        <p>
            Ruckify was created to reduce the destructive environmental impact of traditional systems of production by
            keeping
            products and equipment in use for longer. Ruckify is committed to making it easy for people to connect on a
            single
            community-based platform to rent and reuse instead of buying new. Pushing the change in global consumer
            behaviors
            toward a more sustainable way of living will reduce overall waste and help encourage the bold and decisive
            actions
            necessary to meet the Paris Agreement global warming limit.
        </p>
    </div>
</div>
<!-- 文字 -->
<!-- Swiper1 -->
<div class="sw-bg" style="background-color: rgb(238, 238, 238);">
    <div class="swiper-container mySwiper">
        <div class="swiper-wrapper">
            <div class="swiper-slide" style="background-color: rgb(238, 238, 238);">
                <div class="row" style="width: 600px;">
                    <h4>Empowering Sustainable Choices</h4>
                    <p>
                        Ruckify promotes a new economy that separates fiscal growth from the constant manufacturing of new
                        things.
                    </p>
                </div>
            </div>

            <div class="swiper-slide" style="background-color: rgb(238, 238, 238);">
                <div class="row" style="width: 600px;">
                    <h4>Optimizing Seldom-Used Items</h4>
                    <p>
                        Ruckify extends the lifecycle of everyday items and reduces the energy, materials, and effort required to
                        produce the stuff we use every day.
                    </p>
                </div>
            </div>

            <div class="swiper-slide" style="background-color: rgb(238, 238, 238);">
                <div class="row" style="width: 600px;">
                    <h4>Enabling Low-Carbon Transition</h4>
                    <p>Ruckify reduces our collective carbon footprint and conserves Earth’s finite resources.</p>
                </div>
            </div>

            <div class="swiper-slide" style="background-color: rgb(238, 238, 238);">
                <div class="row" style="width: 600px;">
                    <h4>Creating Community</h4>
                    <p>Ruckify creates shared social experience and community engagement.</p>
                </div>
            </div>

            <div class="swiper-slide" style="background-color: rgb(238, 238, 238);">
                <div class="row" style="width: 600px;">
                    <h4>Reducing the Need for New</h4>
                    <p>
                        The Ruckify marketplace reduces the need for carbon-intensive manufacturing and transcontinental shipping
                        of new items by keeping existing items in circulation.
                    </p>
                </div>
            </div>

            <div class="swiper-slide" style="background-color: rgb(238, 238, 238);">
                <div class="row" style="width: 600px;">
                    <h4>Driving Entrepreneurship</h4>
                    <p>
                        Ruckify’s versatile platform builds business skills, digital literacy, and provides supplemental income.
                    </p>
                </div>
            </div>

        </div>
        <div class="swiper-button-next"></div>
        <div class="swiper-button-prev"></div>
        <div class="swiper-pagination"></div>
    </div>
</div>

<!-- Swiper1 -->
<!-- 標題 -->
<div class="div text-center m-5">
    <h1>Working Towards Zero</h1>
</div>
<!-- 標題 -->
<!-- 有圖片那邊 -->
<div class="container d-flex p-5">
    <div class="row">
        <div class="col-sm-6 col-12">
            <h3>United By Vision</h3>
            <p>
                Every great idea is born from the necessity of solving a problem or fulfilling a need, and Ruckify is no
                exception. Ruckify’s Cofounder Steve Cody started a conversation with his new neighbor and now CEO Bruce
                Linton
                as they were looking to clean up some fallen trees. With no chainsaw, Steve was frustrated by the idea that
                the
                only way he could get the job done on his own was to buy a brand new one. He only needed the chainsaw for a
                few
                hours, why did he have to cause a new one to be manufactured?!
            </p>
            <p>
                This was the Cofounders’ “aha moment.” They envisioned a marketplace app that would allow people to share
                assets
                on a short-term basis, reducing carbon emissions and landfill, and Ruckify was born.
            </p>
        </div>
        <div class="col-sm-6 col-12">
            <img class="w-100"
                 src="https://cdn.ruckify.com/pages/uploads/2021/06/14153223/cycle-768x515.jpg" alt="">
        </div>
    </div>
</div>
<!-- 有圖片那邊 -->
<!-- 文字堆 -->
<div class="container m-auto px-5">
    <p>
        Founded in Ottawa, Canada in 2017 with a pile of fallen trees and a dream to change the world, Ruckify has become
        the world’s #1 buy nothing, rent anything marketplace. This inspiration gave rise to industry-changing technology
        and attracted the participation of forward-thinking leaders, and now Ruckify has paved the way for a growing
        peer-to-peer sharing community that stretches around the world.
    </p>
    <p>
        Ruckify is an environmentally responsible organization, based on Steve and Bruce’s environmental strategy of
        preventing the production of new items. Ruckify focuses on the positive environmental impacts of the circular
        economy, specifically how that relates directly to reducing climate change.
    </p>
</div>

<div class="container m-auto px-5">
    <p style="font-weight: bolder;font-size: 20px;">
        A Circular Economy is based on the principles of designing out waste
        and pollution, keeping products in use, and regenerating natural systems.
    </p>
</div>
<!-- 文字堆 -->
<!-- 黑背景 -->
<div class="black bg-dark">

    <div class="black-text">
        <div class="row">

            <p>
                "We are passionate about giving everyone the
                opportunity to rent anything they can think of, and to start their own rental businesses while helping the
                environment. Ruckifying instead of buying helps lower our carbon footprint, and in the four years since we
                started, we’re seeing how the sharing economy can have a profound, positive impact on our planet and
                communities."
                <br><br>Ruckify Cofounder Steve Cody
            </p>

        </div>
    </div>
</div>
<!-- 黑背景 -->
<!-- 標題 -->
<div class="div text-center m-5">
    <h1>Meet Ruckify’s Co-Founders</h1>
</div>
<!-- 標題 -->
<!-- 人物 -->
<div class="container d-flex">
    <div class="row">
        <div class="col-sm-6 col-12 d-flex flex-column p-5">
            <img src="https://cdn.ruckify.com/pages/uploads/2021/06/14160644/Steve_Cody-1-250x250.png" alt=""
                 style="width: 250px;margin: auto;">
            <h5 style="font-weight: bolder;">Steve Cody, Co-Founder</h5>
            <p>
                With over 30 years of experience in the rental industry, Steve Cody has a wealth of knowledge and truly
                understands the value of connecting customers and communities. Having built and sold 6 different rental
                companies and most recently founding a successful franchise software company has prepared Steve for his recent
                venture. Ruckify is a combination of Steve’s matchless experience and passion for the sharing economy. Ruckifyto experience the financial and ecological rewards of sharing their items.
            </p>
        </div>

        <div class="col-sm-6 col-12 d-flex flex-column p-5">
            <img src="https://cdn.ruckify.com/pages/uploads/2021/06/14160701/Bruce-Linton-250x250.png" alt=""
                 style="width: 250px;margin: -10px auto auto auto;">
            <h5 class="" style="font-weight: bolder;">Bruce Linton, Co-Founder and CEO</h5>
            <p>
                Bruce has a burning passion for entrepreneurship and positively impacting the world around him. His cumulative
                knowledge and wealth of experience in building technology companies and world class teams has positioned each
                company he has been a part of to deliver exceptional customer value and service. He is currently the Founder,
                and former Chairman and CEO of Canopy (CGC), Co-Chairman and past CEO of Martello Technologies, and Co-founder
                of Ruckify & Better Software.
            </p>
        </div>
    </div>
</div>
<!-- 人物 -->
<!-- 標題 -->
<div class="div d-flex justify-content-center m-5">
    <h1>Why Ruckify ?</h1>
</div>
<!-- 標題 -->

<div class="container d-flex text-center justify-content-center">
    <div class="row">
        <div class="col-sm-4">
            <img src="https://cdn.ruckify.com/pages/uploads/2021/06/14154057/Ruckify_Icons_RGB_Protection-250x250-1-150x150.png"
                 alt="" style="width: 150px;">
            <h2 class="my-3">Secure & Trusted</h2>
            <p>We take your safety seriously.</p>
        </div>
        <div class="col-sm-4">
            <img src="https://cdn.ruckify.com/pages/uploads/2021/06/14154112/Ruckify_Icons_RGB_Customer-Service-250x250-1-150x150.png"
                 alt="" style="width: 150px;">
            <h2 class="my-3">24/7 Support</h2>
            <p>We’re always here to help.</p>
        </div>

        <div class="col-sm-4">
            <img src="https://cdn.ruckify.com/pages/uploads/2021/06/14154127/Ruckify_Icons_RGB_Happy-250x250-1-150x150.png"
                 alt="" style="width: 150px;">
            <h2 class="my-3">Make Change While You Make Change</h2>
            <p>Earn money while you help the planet.</p>
        </div>

    </div>
</div>






@section topCSS{
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.3/css/all.css"
          integrity="sha384-SZXxX4whJ79/gErwcOYf+zWLeJdY/qpuqC4cAa9rOGUstPomtqpuNWT9wdPEn2fk" crossorigin="anonymous">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
    <!-- Link Swiper's CSS -->
    <link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css" />
    <link href="~/Assets/css/about.css" rel="stylesheet" />
}
@section endJS{
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4"
            crossorigin="anonymous"></script>
    <!-- Swiper JS -->
    <script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>

    <script src="~/Assets/js/about.js"></script>

}
@if (User.Identity.IsAuthenticated)
{
    var result = Helper.ConvertMemberIdToMemberProfile(Int32.Parse(User.Identity.Name));
    TempData["img"] = result.ProfilePhotoUrl;
    TempData["name"] = result.Fullname;
}
