
@{
    ViewBag.Title = "ContributionProgram";
}

<!--tree-banner -->
<div class="tree-page-banner">
    <div class="tree-page-banner-title">
        <h1>CODE'S Tree Project</h1>
    </div>
</div>
<!-- do-thing-container -->
<div class="do-thing-container">
    <div class="do-thing-col do-thing-text">
        <h3 class="do-thing-text-main">
            CODE'S planted 60,000 trees in 2020.
        </h3>
        <p class="do-thing-text-description">
            The CODE'S TreeProject plants one tree for every sign-up, transaction, and review. CODE'S members can easily track how many trees have been planted on their behalf through their account. Every 25 trees planted renders an entire household carbon neutral for a year!
        </p>
    </div>
    <div class="do-thing-col do-thing-num">
        <span id="num-dynamic" class="do-thing-num-dynamic">
            0
        </span>
        <h5 class="do-thing-num-description">
            trees planted so far
        </h5>
    </div>
</div>

<!-- help-to -->
<div class="help-to-container">
    <div class="help-to-content">
        <h3 class="help-to-main">
            Saving the Planet One Rental at a Time
        </h3>
        <p class="help-to-description">
            8,330 tons of CO2 were saved from CODE'S instead of buying in 2020. The same amount of energy can power 1,400 homes for a year!
        </p>
    </div>
</div>

<!-- how to -->
<div class="how-to-container">
    <h2 class="how-to-title">
        How It Works
    </h2>
    <div class="how-to-block-group">
        <div class="how-to-block">
            <div class="how-to-pic-block">
                <img src="~/Assets/images/Contribution/Howto_leaf.png" alt="Picture Error" />
            </div>
            <h3 class="how-to-description">
                CODE'S plants a tree for every new member signup.
            </h3>
        </div>
        <div class="how-to-block">

            <div class="how-to-pic-block">
                <img src="~/Assets/images/Contribution/Howto_Tree.png" />
            </div>
            <h3 class="how-to-description">
                CODE'S plants a tree for every item rental review.
            </h3>
        </div>
        <div class="how-to-block">
            <div class="how-to-pic-block">
                <img src="~/Assets/images/Contribution/Howto_Sun.png" />
            </div>
            <h3 class="how-to-description">
                CODE'S plants a tree for every owner review.
            </h3>
        </div>
        <div class="how-to-block">
            <div class="how-to-pic-block">
                <img src="~/Assets/images/Contribution/Howto_Sprout.png" />
            </div>
            <h3 class="how-to-description">
                CODE'S plants a tree for every owner transaction.
            </h3>
        </div>
        <div class="how-to-block">
            <div class="how-to-pic-block">
                <img src="~/Assets/images/Contribution/Howto_leaf.png" alt="Picture Error" />
            </div>
            <h3 class="how-to-description">
                CODE'S plants a tree for every renter transaction.
            </h3>
        </div>
        <div class="how-to-block">
            <div class="how-to-pic-block">
                <img src="~/Assets/images/Contribution/Howto_Earth.png" />
            </div>
            <h3 class="how-to-description">
                CODE'S plants a tree for every renter review.
            </h3>
        </div>
    </div>

    <div class="graphic-block-group">
        <div class="graphic-block-item">
            <div class="graphic-block">
                <!-- swiper -->
                <div class="swiper-container">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide">
                            <img src="~/Assets/images/Contribution/IMG_4847-scaled.jpg" />
                        </div>
                        <div class="swiper-slide">
                            <img src="~/Assets/images/Contribution/girl-planting.jpg" />
                        </div>
                        <div class="swiper-slide">
                            <img src="~/Assets/images/Contribution/Mad_worker-profile-2-with-watermark-scaled.jpg" />
                        </div>
                        <div class="swiper-slide">
                            <img src="~/Assets/images/Contribution/Madagascar_2012_Malagasy-woman-holding-propagules-scaled.jpg" />
                        </div>
                        <div class="swiper-slide">
                            <img src="~/Assets/images/Contribution/Haiti_2018_Seedlings-2.jpg" />
                        </div>
                    </div>
                    <!-- Add Pagination -->
                    <div class="swiper-pagination"></div>
                    <!-- Add Arrows -->
                    <div class="swiper-button-next"></div>
                    <div class="swiper-button-prev"></div>
                </div>
            </div>
            <div class="graphic-block">
                <h3 class="graphic-block-title">
                    Eden Reforestation Projects
                </h3>
                <p class="graphic-block-description">
                    Eden Reforestation projects reduces extreme poverty and restores healthy forests by employing local communities to plant millions of trees every year. By the year 2025 their objective is to plant a minimum of 500 million trees each year and to provide meaningful employment to tens of thousands of people.
                </p>
                <div class="graphic-block-button-container">
                    <button class="btn btn-warning graphic-block-button">
                        Visit Eden
                    </button>
                </div>

            </div>
        </div>

        <div class="graphic-block-item">
            <div class="graphic-block">
                <img src="~/Assets/images/Contribution/Phone_Mockup.png" />
            </div>
            <div class="graphic-block">
                <h3 class="graphic-block-title">
                    Eden Reforestation Projects
                </h3>
                <p class="graphic-block-description">
                    Eden Reforestation projects reduces extreme poverty and restores healthy forests by employing local communities to plant millions of trees every year. By the year 2025 their objective is to plant a minimum of 500 million trees each year and to provide meaningful employment to tens of thousands of people.
                </p>
                <div class="graphic-block-button-container">
                    <button class="btn btn-warning graphic-block-button">
                        CODE'S Store
                    </button>
                </div>

            </div>
        </div>

    </div>
</div>

<!-- why-choose -->
<div class="why-choose-container">
    <div class="why-choose-content">
        <h2 class="why-choose-title">
            Why Code's?
        </h2>
        <div class="why-choose-block-group">
            <div class="why-choose-block">
                <div class="why-choose-block-pic">
                    <img src="~/Assets/images/Contribution/Why_Icons_Protection-120x120.png" />
                </div>
                <h3 class="why-choose-block-title">
                    Secure & Trusted
                </h3>
                <p class="why-choose-block-description">
                    We take your safety seriously.
                </p>
            </div>

            <div class="why-choose-block">
                <div class="why-choose-block-pic">
                    <img src="~/Assets/images/Contribution/Why_Icons_Customer-Service-120x120.png" />
                </div>
                <h3 class="why-choose-block-title">
                    24/7 Support
                </h3>
                <p class="why-choose-block-description">
                    We’re always here to help.
                </p>
            </div>

            <div class="why-choose-block">
                <div class="why-choose-block-pic">
                    <img src="~/Assets/images/Contribution/Why_Icons_Happy-120x120.png" />
                </div>
                <h3 class="why-choose-block-title">
                    Make Change While You Make Change
                </h3>
                <p class="why-choose-block-description">
                    Earn money while you help the planet.
                </p>
            </div>

        </div>
        <div class="why-choose-icon-group">
            <button class="btn btn-warning"><i class="fab fa-instagram"></i></button>
            <button class="btn btn-warning"><i class="fab fa-facebook"></i></button>
            <button class="btn btn-warning"><i class="fab fa-twitter"></i></button>
            <button class="btn btn-warning"><i class="fab fa-pinterest-square"></i></button>
            <button class="btn btn-warning"><i class="fab fa-invision"></i></button>
        </div>
    </div>
</div>

@section topCSS{
    @*<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">*@
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.3/css/all.css" integrity="sha384-SZXxX4whJ79/gErwcOYf+zWLeJdY/qpuqC4cAa9rOGUstPomtqpuNWT9wdPEn2fk" crossorigin="anonymous">
    <link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css" />
    <link href="~/Content/Site.css" rel="stylesheet" />
    <link href="~/Assets/css/Contribution/swiper.css" rel="stylesheet" />
    <link href="~/Assets/css/Contribution/conrtibution.css" rel="stylesheet" />
    <link href="~/Assets/css/Contribution/doThing.css" rel="stylesheet" />
    <link href="~/Assets/css/Contribution/helpTo.css" rel="stylesheet" />
    <link href="~/Assets/css/Contribution/howTo.css" rel="stylesheet" />
    <link href="~/Assets/css/Contribution/whyChoose.css" rel="stylesheet" />
}

@section endJS{
    <script src="https://cdn.bootcss.com/countup.js/1.9.3/countUp.js"></script>
    <script src="https://unpkg.com/swiper/swiper-bundle.js"></script>
    <script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>
    <script src="~/Assets/js/Contribution/swiperInHtml.js"></script>
    <script src="~/Assets/js/Contribution/countUp.js"></script>
}
@if (User.Identity.IsAuthenticated)
{
    var result = Helper.ConvertMemberIdToMemberProfile(Int32.Parse(User.Identity.Name));
    TempData["img"] = result.ProfilePhotoUrl;
    TempData["name"] = result.Fullname;
}
