.banner {
    background-image: url(https://cdn.ruckify.com/pages/uploads/2020/10/30165718/Contact_Us_Header.jpg);
    height: 700px;
    /* 透明度 0.6 的黑色半透明遮罩 */
    background-color: rgba(0, 0, 0, .3);
    /* 設置背景混和模式為相乘模式 */
    background-blend-mode: multiply;
    background-size: cover;
    background-position: 50%;
    transition: 0.5s;
}

.banner h1 {
    color: white;
    font-size: 100px;
    font-weight: bolder;
    line-height: 700px;
    text-align: center;
    transition: 0.5s;
}

.container {
    max-width: 1200px;
}

.right a {
    color: #fc8d61;
    text-decoration: none;
}

.btn-s {
    width: 90px;
    height: 35px;
    background-color: #fc8d61;
    color: white;
    margin-top: 20px;
    border: none;
    border-radius: 5%;
    font-size: 15px;
}

/* .reset {
      margin: 0 100px;
    } */


.enter .btn_all {
    height: 80px;
    display: flex;
    align-items: flex-end;
}

.word {
    height: 80px;
    line-height: 80px;
    font-size: 30px;
}
.error{
    height:20px;
    line-height:20px;
}

.enter textarea {
    background-color: #f5f8fa;
    height: 300px;
    font-size: 23px;
    letter-spacing: 1px;
}

.rate {
    display: inline-block;
    position: relative;
    height: 120px;
    line-height: 120px;
    font-size: 60px;
}

    .rate label {
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        cursor: pointer;
    }

        .rate label:last-child {
            position: static;
        }

        .rate label:nth-child(1) {
            z-index: 5;
        }

        .rate label:nth-child(2) {
            z-index: 4;
        }

        .rate label:nth-child(3) {
            z-index: 3;
        }

        .rate label:nth-child(4) {
            z-index: 2;
        }

        .rate label:nth-child(5) {
            z-index: 1;
        }

        .rate label input {
            position: absolute;
            top: 0;
            left: 0;
            opacity: 0;
        }

        .rate label .icon {
            float: left;
            color: transparent;
        }

        .rate label:last-child .icon {
            color: #CACACA;
        }

    .rate:not(:hover) label input:checked ~ .icon,
    .rate:hover label:hover input ~ .icon {
        color: #fc8d61;
    }

    .rate label input:focus:not(:checked) ~ .icon:last-child {
        color: #000;
        text-shadow: 0 0 5px #fc8d61;
    }

@media screen and (max-width:768px) {
    .banner {
        height: 300px;
    }

        .banner h1 {
            font-size: 50px;
            line-height: 300px;
        }

    .row p {
        padding: 20px;
    }

    .enter {
        padding: 50px;
    }

        .enter textarea {
            height: 200px;
            margin-bottom: 30px;
        }

    .rate {
        height: 40px;
        line-height: 40px;
        font-size: 40px;
        margin: 20px 0;
    }

    .enter .btn_all {
        height: 100px;
        display: flex;
        align-items: flex-end;
    }

    .word {
        font-size: 24px;
    }
}

