

<div id="app">
    <b-container fluid>
        <!-- User Interface controls -->
        <b-row>
            <b-col lg="6" class="my-1">
                <b-form-group label="分類"
                              label-for="sort-by-select"
                              label-cols-sm="3"
                              label-align-sm="right"
                              label-size="sm"
                              class="mb-0"
                              v-slot="{ ariaDescribedby }">
                    <b-input-group size="sm">
                        <b-form-select id="sort-by-select"
                                       v-model="sortBy"
                                       :options="sortOptions"
                                       :aria-describedby="ariaDescribedby"
                                       class="w-75">
                            <template #first>
                                <option value="">-- none --</option>
                            </template>
                        </b-form-select>

                        <b-form-select v-model="sortDesc"
                                       :disabled="!sortBy"
                                       :aria-describedby="ariaDescribedby"
                                       size="sm"
                                       class="w-25">
                            <option :value="false">升序</option>
                            <option :value="true">降序</option>
                        </b-form-select>
                    </b-input-group>
                </b-form-group>
            </b-col>

            <b-col lg="6" class="my-1">
                <b-form-group label="初始分類"
                              label-for="initial-sort-select"
                              label-cols-sm="3"
                              label-align-sm="right"
                              label-size="sm"
                              class="mb-0">
                    <b-form-select id="initial-sort-select"
                                   v-model="sortDirection"
                                   :options="['asc', 'desc', 'last']"
                                   size="sm"></b-form-select>
                </b-form-group>
            </b-col>

            <b-col lg="6" class="my-1">
                <b-form-group label="搜尋"
                              label-for="filter-input"
                              label-cols-sm="3"
                              label-align-sm="right"
                              label-size="sm"
                              class="mb-0">
                    <b-input-group size="sm">
                        <b-form-input id="filter-input"
                                      v-model="filter"
                                      type="search"
                                      placeholder="請輸入關鍵字"></b-form-input>

                        <b-input-group-append>
                            <b-button :disabled="!filter" @@click="filter = ''">清空</b-button>
                        </b-input-group-append>
                    </b-input-group>
                </b-form-group>
            </b-col>

            <b-col lg="6" class="my-1">
                <b-form-group v-model="sortDirection"
                              label="過濾條件"
                              label-cols-sm="3"
                              label-align-sm="right"
                              label-size="sm"
                              class="mb-0"
                              v-slot="{ ariaDescribedby }">
                    <b-form-checkbox-group v-model="filterOn"
                                           :aria-describedby="ariaDescribedby"
                                           class="mt-1">
                        <b-form-checkbox value="orderID">訂單編號</b-form-checkbox>
                        <b-form-checkbox value="fullName">會員名稱</b-form-checkbox>
                        <b-form-checkbox value="orderStatusID">付款狀態</b-form-checkbox>
                    </b-form-checkbox-group>
                </b-form-group>
            </b-col>

            <b-col sm="5" md="6" class="my-1">
                <b-form-group label="每頁顯示筆數"
                              label-for="per-page-select"
                              label-cols-sm="6"
                              label-cols-md="4"
                              label-cols-lg="3"
                              label-align-sm="right"
                              label-size="sm"
                              class="mb-0">
                    <b-form-select id="per-page-select"
                                   v-model="perPage"
                                   :options="pageOptions"
                                   size="sm"></b-form-select>
                </b-form-group>
            </b-col>

            <b-col sm="7" md="6" class="my-1">
                <b-pagination v-model="currentPage"
                              :total-rows="totalRows"
                              :per-page="perPage"
                              align="fill"
                              size="sm"
                              class="my-0"></b-pagination>
            </b-col>
        </b-row>

        <!-- Main table element -->
        <b-table :items="items"
                 :fields="fields"
                 :current-page="currentPage"
                 :per-page="perPage"
                 :filter="filter"
                 :filter-included-fields="filterOn"
                 :sort-by.sync="sortBy"
                 :sort-desc.sync="sortDesc"
                 :sort-direction="sortDirection"
                 :busy="isBusy"
                 stacked="md"
                 show-empty
                 small
                 @@filtered="onFiltered">
            <template #table-busy>
                <div class="text-center text-danger my-2">
                    <b-spinner class="align-middle"></b-spinner>
                    <strong>加載中...</strong>
                </div>
            </template>

            <template #cell(name)="row">
                {{ row.value.first }} {{ row.value.last }}
            </template>

            <template #cell(actions)="row">
                <b-button size="sm" @@click="info(row.item, row.index, $event.target)" class="mr-1" variant="primary">
                    修改
                </b-button>
                <b-button size="sm" @@click="row.toggleDetails" variant="success ">
                    {{ row.detailsShowing ? '關閉' : '詳細' }}
                </b-button>
            </template>

            <template #row-details="row">
                <b-card>
                    <ul>
                        <li v-for="(value, key) in row.item" :key="key">{{ key }}: {{ value }}</li>
                    </ul>
                </b-card>
            </template>
        </b-table>

        <!-- Info modal -->
        <b-modal :id="infoModal.id" :title="infoModal.title" ok-only @@hide="resetInfoModal">
            <pre>{{ infoModal.content }}</pre>
        </b-modal>
    </b-container>
</div>


@section endJS{
    <script>
        let vm;
        let item;
        vm = new Vue({
            el: "#app",
            data: {
                isBusy: true,
                items: [],
                fields: [
                    { key: 'orderID', label: '訂單編號', sortable: true, sortDirection: 'desc' },
                    { key: 'memberID', label: '會員編號', sortable: true, sortDirection: 'desc' },
                    { key: 'fullName', label: '訂單人姓名', sortable: false, sortDirection: 'desc' },
                    { key: 'storeName', label: '分店', sortable: false, sortDirection: 'desc' },
                    { key: 'phone', label: '聯絡電話', sortable: false, sortDirection: 'desc' },
                    { key: 'email', label: '聯絡信箱', sortable: false, sortDirection: 'desc' },
                    //{ key: 'TotalAmount', label: '訂單總額', sortable: true, sortDirection: 'desc' },
                    { key: 'orderStatusID', label: '付款狀態', sortable: true, sortDirection: 'desc' },
                    { key: 'goodsStatusID', label: '出貨狀態', sortable: true, sortDirection: 'desc' },
                    { key: 'orderDate', label: '成立時間', sortable: true, sortDirection: 'desc' },

                    //{ key: 'age', label: 'Person age', sortable: true, class: 'text-center' },

                    //{
                    //    key: 'isActive',
                    //    label: 'Is Active',
                    //    formatter: (value, key, item) => {
                    //        return value ? 'Yes' : 'No'
                    //    },
                    //    sortable: true,
                    //    sortByFormatted: true,
                    //    filterByFormatted: true
                    //},
                    { key: 'actions', label: '管理' }
                ],
                totalRows: 1,
                currentPage: 1,
                perPage: 5,
                pageOptions: [5, 10, 15, { value: 100, text: "Show a lot" }],
                sortBy: '',
                sortDesc: false,
                sortDirection: 'asc',
                filter: null,
                filterOn: [],
                infoModal: {
                    id: 'info-modal',
                    title: '',
                    content: ''
                }
            },
            computed: {
                sortOptions() {
                    // Create an options list from our fields
                    return this.fields
                        .filter(f => f.sortable)
                        .map(f => {
                            return { text: f.label, value: f.key }
                        })
                }
            },
            mounted() {
                // Set the initial number of items
                this.totalRows = this.items.length
            },
            methods: {
                info(item, index, button) {
                    this.infoModal.title = `Row index: ${index}`
                    this.infoModal.content = JSON.stringify(item, null, 2)
                    this.$root.$emit('bv::show::modal', this.infoModal.id, button)
                },
                resetInfoModal() {
                    this.infoModal.title = ''
                    this.infoModal.content = ''
                },
                onFiltered(filteredItems) {
                    // Trigger pagination to update the number of buttons/pages due to filtering
                    this.totalRows = filteredItems.length
                    this.currentPage = 1
                }
            },
            watch: {
                items: function () {
                    this.isBusy = !this.isBusy
                }
            },
        });

        const Url = "/api/OrderApi"
        function LoadData() {
            fetch(Url,
                {
                    method: "Get",
                    headers: {
                        'Content-Type': 'application/json'
                    },

                }).then(res => res.json())
                .then(result => {
                    vm.$data.items = result;
                })
                .catch(ex => {
                    console.log("錯了");
                })
        };

        $(document).ready(function () {
            LoadData();
        });
    </script>
}
