.tree-page-banner {
    background-image: url('../../images/Contribution/Banner_change_rev.jpg');
    background-size: cover;
    background-position: center 45%;
    background-repeat: no-repeat;
    height: 40vh;
    width: 100%;
    transition: 1s;
}
.tree-page-banner-title{
    display: flex;
    height: 100%;
    justify-content: center;
    align-items: center;
}

.tree-page-banner-title > h1{
    color: #fff;
    font-size: 20px;
    font-weight: 800;
    transition: 1.5s;
}


@media screen and (min-width: 767px){
    .tree-page-banner-title > h1{
        font-size: 3em;
        transition: 1.5s;
    }

    .tree-page-banner {
        background-image: url('../../images/Contribution/Banner_change_rev.jpg');
        background-size: cover;
        background-position: center 45%;
        background-repeat: no-repeat;
        height: 60vh;
        width: 100%;
        transition: 1s;
    }
}

@media screen and (min-width: 992px){
    .tree-page-banner-title > h1{
        font-size: 5em;
        transition: 1.5s;
    }

    .tree-page-banner {
        background-image: url('../../images/Contribution/Banner_change_rev.jpg');
        background-size: cover;
        background-position: center 45%;
        background-repeat: no-repeat;
        height: 90vh;
        width: 100%;
        transition: 1s;
    }

}

