
@{
    ViewBag.Title = "SharingEconomy";
}
<div class="container-fluid">
    <div class="banner">
        <div class="banner_text">
            <h1>Invest In The Sharing <br>Economy</h1>
        </div>
    </div>
</div>

<div class="wrap mt-5">
    <div class="container-xl  mb-5">
        <section>
            <h2 class="text-center m-4">Investing in Sustainability, Means Investing in Our Future.</h2>
            <div class="main_content text-center px-5">
                <p class="mt-2 ">In 2020, Ruckify enlisted The Right Environment’s help to study the environmental impact of producing something as simple as a ladder. The results of this study validated our core belief that the sharing-economy will ultimately have a profound effect on our planet. Through our Marketplace, Ruckify was able to prevent 8,330 Metric Tonnes of Co2 emissions from ever being produced, that’s equivalent to powering 1000 homes for a year. As our Marketplace continues to grow, so will our impact on the current environmental crisis.</p>
                <p class="mt-2">Founded in Ottawa, Canada, in 2017, Ruckify is a rent anything Marketplace allowing individuals and businesses to rent out their everyday items, earn money, and experience more while reducing their environmental impact through sustainable consumerism.</p>
            </div>
        </section>
    </div>
    <div class="container-fluid ">
        <div class="main_content text-center p-4">
            <p class="pt-3">With its industry-changing technology Ruckify is poised to lead the way for peer-to-peer sharing in communities around the world. Ruckify provides its members the opportunity to monetize the assets they own and accessibility to items and experiences within their local communities. Through its subsidiary company, Better Software, Ruckify offers a fully integrated software-as-service solution that helps small businesses improve and simplify their operations.</p>
        </div>
    </div>

    <div class="container-xl mt-4">

        <div class="row">

            <div class="col-sm-6 col-12 d-flex justify-content-center align-items-center ">
                <div class="MidelContent text-center  ">
                    <h2 class="text-dark">Revolutionizing the Sharing Economy</h2>
                    <p>Ruckify provides users with the freedom to rent what they want when they want without the restrictions of time, storage, price, or availability. With industry-changing technology, Ruckify has paved the way for peer-to-peer sharing within North America.</p>
                </div>
            </div>

            <div class="col-sm-6 col-12 p-2">
                <img src="https://soulkey373.github.io/WorkFinalblock/image/product_mock.png" class="w-100 ">
            </div>


            <div class="col-sm-6 col-12 p-2">
                <img src="https://soulkey373.github.io/WorkFinalblock/image/login.jpg" class="w-100">
            </div>


            <div class="col-sm-6 col-12 d-flex justify-content-center align-items-center ">
                <div class="MidelContent text-center ">
                    <h2 class="text-dark">The Sharing Economy is a Growing Industry</h2>
                    <p>The sharing economy continues to grow as consumer trends continue to shift and favor a more sustainable way of life. The global sharing economy’s value is predicted to increase to <a href="#">335 billion U.S dollars by 2025</a> , from only 15 billion U.S dollars in 2014.</p>
                </div>
            </div>

            <div class="col-12 down">
                <span><i class="fab fa-instagram"></i></span>
                <span><i class="fab fa-facebook-f"></i></span>
                <span><i class="fab fa-twitter"></i></span>
                <span><i class="fab fa-pinterest"></i></span>
                <span><i class="fab fa-linkedin-in"></i></span>
                <span><i class="fab fa-tiktok"></i></span>
            </div>

        </div>
    </div>
</div>
<div class="messagebox"><img id="message" src="https://soulkey373.github.io/WorkFinalblock/image/iconmonstr-facebook-messenger-1.svg" alt=""></div>



@section topCSS{
    <link href="~/Assets/css/economy.css" rel="stylesheet" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
}
@section topJS{
    <script src="https://kit.fontawesome.com/62756de202.js" crossorigin="anonymous"></script>

}
@section endJS{
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.min.js" integrity="sha384-Atwg2Pkwv9vp0ygtn1JAojH0nYbwNJLPhwyoVbhoPwBhjQPR5VtM2+xf0Uwh9KtT" crossorigin="anonymous"></script>
}

@if (User.Identity.IsAuthenticated)
{
    var result = Helper.ConvertMemberIdToMemberProfile(Int32.Parse(User.Identity.Name));
    TempData["img"] = result.ProfilePhotoUrl;
    TempData["name"] = result.Fullname;
}
