$themeColor:#fc8d61;
$min-width:350px;
$max-width:1200px;
$arrowBtnWidth:48px;
$searchBorderR:11px;

// font-family: Noto Sans TC,SimHei,Microsoft YaHei,Microsoft JhengHei,STHeiti,LiHei Pro Medium,Apple LiGothic Medium;
// @font-face cwTeXYen, Noto Sans TC,

a{
    text-decoration: none;
    color: #000;
}

body{
    min-width: $min-width;
}

header{
    box-sizing: border-box;
    width: 100%;    
/*  background-repeat: no-repeat;
    background-size: cover;
    background-position: 50%;
    background-image: url("../../images/IndexBanner.jpg");
*//*    >div{
        box-sizing: border-box;
        width: 100%;
        padding: 111px 11px;    
        margin: auto;
        >h2{
            font-size: 66px;
            color: #fff;
            text-align: center;
            margin: 11px auto 55px;
        }
        >#search{
            >*{
                width: 100%;
                height: 55px;
                margin-top: 16px;
                border-radius: $searchBorderR;
            }
            >.inputGroup{
                position: relative;
                display: flex;
                align-items: center;
                >i{
                    position: absolute;
                    color: #333;
                    font-size: 1.2em;
                    left: 1em;
                }              
                >input{
                    width:100%;
                    height: 100%;
                    padding-left: 55px;
                    border: none;
                    outline: none;
                    border-radius: $searchBorderR;
    
                }
                >input::placeholder{
                    font-style: italic;
                    color: #000;
                }
            }
            >button{
                background-color: $themeColor;
                border: none;
                color: #fff;
            }
            >button:first-of-type{
                display: block;
            }
            >button:last-of-type{
                display: none;
                >i{
                    color: #fff;
                }
            }        
        }
    }
*/}

.swiper-container:not(.categories-swiper-container){
    width: 100%;
    // .swiper-wrapper{
    //     // align-items: stretch;
    //     // background-color: #fcc;
    // }
    .swiper-slide {
        border: 1px solid #ddd;
        border-radius: .5em;
        overflow: hidden;

        display: flex;
        /* Center slide text vertically */
        justify-content: center;
        align-items: center;
    }
}

.swiper-button-prev, .swiper-button-next{
    color: #000;
    background-color: rgba(255, 255, 255, 0.6);
    border-radius: 50%;
    width: $arrowBtnWidth;
    height: $arrowBtnWidth;
}
.swiper-button-prev:hover, .swiper-button-next:hover{
    background-color: rgba(255, 255, 255, 1);
}

.swiper-button-prev::after,.swiper-button-next::after{
    position: relative;
    font-size: $arrowBtnWidth/2;
    font-weight: 900;
}
.swiper-button-next::after{ left: 7%;}
.swiper-button-prev::after{ right: 7%;}

article {
    // max-width: $max-width;
    margin-left: auto;
    margin-right: auto;

    > section {
        width: 100%;
        margin: 33px auto;
        h3 {
            > a {
                font-size: 15px;
                color: $themeColor;
            }
        }
    }

    > .Area {
        box-sizing: border-box;
        padding: 14px;
        .imgBox, .textBox {
            display: flex;
        }

        .imgBox {
            align-items: center;
        }

        .textBox {
            flex-direction: column;
            align-items: flex-start;
        }
    }

    .categories-swiper-container {
        .swiper-slide.category-card {
            margin: 15px 0;
        }
        //     >.swiper-wrapper{
        //         >.swiper-slide{
        //             height: 111px;
        //             >.imgBox{
        //                 width: 111px;
        //                 flex-grow: 0;
        //                 overflow: hidden;
        //             }
        //             >.textBox{
        //                 flex-grow: 1;
        //                 height: 100%;
        //                 justify-content: center;
        //                 align-items: center;
        //                 font-size: 16px;
        //             }
        //             >.textBox:hover{
        //                 background-color: #eee;
        //             }
        //         }
        //     }
    }

    .category-sample {
        // padding: 0 11px;
        // >.d-flex{
        //     // width: 100%;
        //     flex-wrap: wrap;
        //     justify-content: space-between;
        //     .card-item{//有bs
        //         min-height: 33px;
        //         background-color: #fcc;
        //         margin-bottom: 11px;
        //     }
        // }
    }
    /*    .stories-swiper-container {
        > .swiper-wrapper {
            > .swiper-slide {
                height: 333px;

                > .imgBox {
                    padding: 22px;

                    img {
                        border-radius: 50%;
                    }
                }

                > .textBox {
                    padding: 11px;

                    > p {
                        font-size: 16px;
                    }
                }
            }
        }
    }*/

    .reviews-swiper-container {
        > .swiper-wrapper {
            > .swiper-slide {
                padding-right: 20px;

                > .imgBox {
                    justify-content: center;
                    // align-items: center;
                    img {
                        width: 77px;
                        height: 77px;
                        border-radius: 50%;
                    }
                }

                > .textBox {
                    font-size: 16px;

                    h5 {
                        margin: 0;
                        font-size: 20px;
                        font-weight: 900;
                    }

                    .score .icon .fa-star {
                        color: #fc8d61;
                    }

                    > .msgBox {
                        .ellipsis {
                            line-height: 30px;
                            margin-bottom: 0;
                        }
                    }

                    > .time {
                        font-size: 12px;
                    }
                }
            }
        }
    }



    .blogPosts-swiper-container {
        > .swiper-wrapper {
            > .swiper-slide {
                height: 333px;

                > .imgBox {
                    width: 100%;
                    overflow: hidden;

                    img {
                        height: auto;
                        width: 100%;
                    }
                }

                > .textBox {
                    width: 100%;
                    justify-content: flex-start;
                    padding: 0 22px;
                    margin: 22px 0;

                    > button {
                        border: 1px solid $themeColor;
                        border-radius: .25em;
                        line-height: 1.5;
                        color: $themeColor;
                    }

                    > h5.ellipsis {
                        font-size: 22px;
                        -webkit-line-clamp: 1;
                    }
                }
            }
        }
    }
}

.ellipsis{
    font-size: 16px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box; 
    -webkit-box-orient: vertical;   
}

@media screen and (max-width:555px){
    .stories-swiper-container{
        >.swiper-wrapper{
            >.swiper-slide{
                padding:0 20px;
                flex-direction: column;
                justify-content: flex-start;
                >.imgBox{
                    width: 100%;
                    height: 111px;
                    border-bottom: 1px solid #ddd;
                    box-shadow: 0 2px 2px #eee;
                    img{
                        height: 100%;;
                    }
                }
                >.textBox{
                    >.ellipsis{
                        -webkit-line-clamp: 7;
                    }
                }
            }
        }
    }
    .reviews-swiper-container{
        >.swiper-wrapper{
            >.swiper-slide{
                padding-left: 20px;
                flex-direction: column;
                height:260px;
                >.imgBox{
                    // width:100%;
                    height: 100px;
                }
                >.textBox{
                    width: 100%;
                    >.msgBox{
                        height: 60px;
                        .ellipsis{
                            -webkit-line-clamp: 2;
                        }
                    }
                }
            }
        }
    }
}



@media screen and (min-width:556px){
    .stories-swiper-container{
        >.swiper-wrapper{
            >.swiper-slide{
                flex-direction: row;
                >.imgBox{
                    width: 50%;
                    height: 100%;
                    // height: 333px;
                    border-right: 1px solid #ddd;
                    box-shadow: 2px 0 2px #eee;

                    img{
                        width: 100%;
                    }
                }
                >.textBox{
                    width: 50%;
                    >.ellipsis{
                        -webkit-line-clamp: 11;
                    }
                }
            }
        }
    }

    .reviews-swiper-container{
        >.swiper-wrapper{
            >.swiper-slide{
                flex-direction: row;
                height:200px;
                >.imgBox{
                    width:120px;
                }
                >.textBox{
                    width: calc(100% - 140px);
                    >.msgBox{
                        height: 90px;
                        .ellipsis{
                            -webkit-line-clamp: 3;
                        }
                    }
                }
            }            
        }
    }
}


@media screen and (min-width:992px){
/*    header{
        >div{
            max-width: 900px;
            >#search{
                display: flex;
                >.inputGroup:first-of-type{
                    width: 50%;
                    >#keyword{
                        border-right: 1px solid #ddd;
                        border-radius: $searchBorderR 0 0 $searchBorderR;
                    }
                }
                >.inputGroup:last-of-type{
                    width: 44%;
                    >#position{
                        border-radius: 0;
                    }
                }
                >button{
                    width: 6%;
                    border-radius: 0 $searchBorderR $searchBorderR 0;
                }
                >button:first-of-type{
                    display: none;
                }
                >button:last-of-type{
                    display: block;
                }     
            }
        }
    }
*/
}
//blog特殊設定
@media screen and (max-width:1279px){
    .blogPosts-swiper-container{
        .swiper-slide{
            flex-direction: column;       
            .imgBox{
                height: 222px;
                img{
                    height: 100%;
                    width: auto;
                }
            }
            >.textBox{
                p.ellipsis{
                    -webkit-line-clamp: 2;
                }
            }
        }
    }
}
@media screen and (min-width:1280px){
    .blogPosts-swiper-container{
        >.swiper-wrapper{
            >.swiper-slide{
                display: flex;
                flex-direction: row;
                >.imgBox{
                    width: 50%;
                }
                >.textBox{
                    width: 50%;
                    p.ellipsis{
                        -webkit-line-clamp: 8;
                    }
                }
            }
        }
    }
}