@{
    ViewData["Title"] = "Product";
}
<h1>產品頁</h1>

<b-container fluid id="app">
    <!-- User Interface controls -->
    <b-row>
        <b-col lg="6" class="my-1">
            <b-form-group label="排序"
                          label-for="sort-by-select"
                          label-cols-sm="3"
                          label-align-sm="center"
                          label-size="sm"
                          class="mb-0 text-center"
                          v-slot="{ ariaDescribedby }">
                <b-input-group size="sm">
                    <b-form-select id="sort-by-select"
                                   v-model="sortBy"
                                   :options="sortOptions"
                                   :aria-describedby="ariaDescribedby"
                                   class="w-75">
                        <template #first>
                            <option value="">-- 無 --</option>
                        </template>
                    </b-form-select>

                    <b-form-select v-model="sortDesc"
                                   :disabled="!sortBy"
                                   :aria-describedby="ariaDescribedby"
                                   size="sm"
                                   class="w-25">
                        <option :value="false">升序</option>
                        <option :value="true">降序</option>
                    </b-form-select>
                </b-input-group>
            </b-form-group>
        </b-col>

        <b-col lg="6" class="my-1">
            <b-form-group label="初始排序"
                          label-for="initial-sort-select"
                          label-cols-sm="3"
                          label-align-sm="center"
                          label-size="sm"
                          class="mb-0">
                <b-form-select id="initial-sort-select"
                               v-model="sortDirection"
                               :options="['asc', 'desc', 'last']"
                               size="sm"></b-form-select>
            </b-form-group>
        </b-col>

        <b-col lg="6" class="my-1">
            <b-form-group label="篩選"
                          label-for="filter-input"
                          label-cols-sm="3"
                          label-align-sm="center"
                          label-size="sm"
                          class="mb-0">
                <b-input-group size="sm">
                    <b-form-input id="filter-input"
                                  v-model="filter"
                                  type="search"
                                  placeholder="輸入以搜尋"></b-form-input>

                    <b-input-group-append>
                        <b-button :disabled="!filter" @@click="filter = ''">清除</b-button>
                    </b-input-group-append>
                </b-input-group>
            </b-form-group>
        </b-col>

        <b-col lg="6" class="my-1">
            <b-form-group v-model="sortDirection"
                          label="過濾開啟"
                          label-cols-sm="3"
                          label-align-sm="center"
                          label-size="sm"
                          class="mb-0"
                          v-slot="{ ariaDescribedby }">
                <b-form-checkbox-group v-model="filterOn"
                                       :aria-describedby="ariaDescribedby"
                                       class="mt-1 d-flex">
                    <b-form-checkbox class="mx-1" value="ProductName">產品名稱</b-form-checkbox>
                    <b-form-checkbox class="mx-1" value="ProductId">產品編號</b-form-checkbox>
                    <b-form-checkbox class="mx-1" value="DailyRate">產品單價</b-form-checkbox>
                </b-form-checkbox-group>
            </b-form-group>
        </b-col>


    </b-row>

    <!-- Main table element -->
    <b-table :items="items"
             :fields="fields"
             :current-page="currentPage"
             :per-page="perPage"
             :filter="filter"
             :filter-included-fields="filterOn"
             :sort-by.sync="sortBy"
             :sort-desc.sync="sortDesc"
             :sort-direction="sortDirection"
             :busy="isBusy"
             stacked="md"
             show-empty
             small
             @@filtered="onFiltered">
        <template #table-busy>
            <div class="text-center text-danger my-2">
                <b-spinner class="align-middle"></b-spinner>
                <strong>加載中...</strong>
            </div>
        </template>

        <template #cell(name)="row">
            {{ row.value.first }} {{ row.value.last }}
        </template>

        <template #cell(actions)="row">
            <b-button size="sm" @@click="info(row.item, row.index, $event.target)" class="mr-1">
                修改
            </b-button>
            <b-button size="sm" @@click="row.toggleDetails">
                {{ row.detailsShowing ? '隱藏' : '產品細節' }}
            </b-button>
        </template>

        <template #row-details="row">
            <b-card>
                <ul class="d-flex flex-wrap justify-content-center">
                    @*<li v-for="(value, key) in row.item" :key="key">{{ key }}: {{ value }}</li>*@
                    <b-col sm="6"><h5 class="text-left"><strong>產品編號:</strong>&nbsp;{{ row.item.ProductId }}</h5></b-col>
                    <b-col sm="6"><h5 class="text-left"><strong>產品名稱:</strong>&nbsp;{{ row.item.ProductName }}</h5></b-col>
                    <b-col sm="6"><h5 class="text-left"><strong>產品單價:</strong>&nbsp;{{ row.item.DailyRate }}</h5></b-col>
                    <b-col sm="6"><h5 class="text-left"><strong>更新時間:</strong>&nbsp;{{ row.item.UpdateTime }}</h5></b-col>
                    <b-col sm="6"><h5 class="text-left"><strong>上架日期:</strong>&nbsp;{{ row.item.LaunchDate }}</h5></b-col>
                    <b-col sm="6"><h5 class="text-left"><strong>下架日期:</strong>&nbsp;{{ row.item.WithdrawalDate }}</h5></b-col>
                    @*<b-col sm="6"><h5 class="text-center">{{ row.item.ProductImages[0].SourceImages }}</h5></b-col>*@
                    @*<b-col sm="6"><h5 class="text-center"><img v-bind:src="row.item.ProductImages[0].SourceImages"   class="img-thumbnail"></h5></b-col>*@
                    <b-col sm="1" v-for="result in row.item.ProductImages"><b-img-lazy thumbnail rounded class="mt-4" style="width:100px;height:100px;" data-fancybox="gallery" v-bind:src="result.SourceImages" alt="Center image"></b-img-lazy></b-col>
                    
                </ul>
            </b-card>
        </template>
    </b-table>
    <b-row>
        <b-col sm="5" md="6" class="my-1">
            <b-form-group label="筆數"
                          label-for="per-page-select"
                          label-cols-sm="6"
                          label-cols-md="4"
                          label-cols-lg="3"
                          label-align-sm="center"
                          label-size="sm"
                          class="mb-0">
                <b-form-select id="per-page-select"
                               v-model="perPage"
                               :options="pageOptions"
                               size="sm"
                               class="w-100"></b-form-select>
            </b-form-group>
        </b-col>

        <b-col sm="7" md="6" class="my-1">
            <b-pagination v-model="currentPage"
                          :total-rows="totalRows"
                          :per-page="perPage"
                          align="fill"
                          size="sm"
                          class="my-0"></b-pagination>
        </b-col>
    </b-row>
    <!-- Info modal -->
    <b-modal :id="infoModal.id" :title="infoModal.title" ok-only>
        <pre>{{ infoModal.content }}</pre>
    </b-modal>
</b-container>



@section topJS{

}
@section topCSS{

}
@section endJS{
    <script>
        Fancybox.bind("[data-fancybox]", {
            // Your options go here
        });
        </script>
    <script>
        var item;
        let vm;
        vm = new Vue({
            el: "#app",
            data: {
                isBusy: true,
                items: [],
                fields: [
                    { key: 'ProductId', label: '產品編號', class: 'text-center' },
                    { key: 'ProductName', label: '產品名子', class: 'text-center' },
                    { key: 'DailyRate', label: '單價', class: 'text-center' },
                    { key: 'UpdateTime', label: '更新時間', class: 'text-center', },
                    { key: 'LaunchDate', label: '上架日期', class: 'text-center' },
                    { key: 'WithdrawalDate', label: '下架時間', class: 'text-center', },
                    { key: 'actions', label: '動作' }
                ],
                totalRows: 1,
                currentPage: 1,
                perPage: 5,
                pageOptions: [5, 10, 15, { value: 1000, text: "全部" }],
                sortBy: '',
                sortDesc: false,
                sortDirection: 'asc',
                filter: null,
                filterOn: [],
                infoModal: {
                    id: 'info-modal',
                    title: '',
                    content: ''
                }

            },
            computed: {
                sortOptions() {
                    return this.fields
                        .map(f => {
                            return { text: f.label, value: f.key }
                        })
                }
            },
            mounted() {
                // Set the initial number of items
                this.totalRows = this.items.length
            },
            methods: {
                info(item, index, button) {
                    this.infoModal.title = `Row index: ${index}`
                    this.infoModal.content = JSON.stringify(item, null, 2)
                    this.$root.$emit('bv::show::modal', this.infoModal.id, button)
                },
                resetInfoModal() {
                    this.infoModal.title = ''
                    this.infoModal.content = ''
                },
                onFiltered(filteredItems) {
                    // Trigger pagination to update the number of buttons/pages due to filtering
                    this.totalRows = filteredItems.length
                    this.currentPage = 1
                }
            },
            watch: {
                items: function () {
                    this.isBusy = false
                }
            },


        })
        function LoadData() {

            const Url = "/api/Product"

            fetch(Url,
                {
                    method: "Get",
                    headers: { 'Content-Type': 'application/json' },
                })
                .then(res => res.json())
                .then(result => {
                    vm.$data.items = result;

                })
                .catch(ex => {
                    console.log("資料撈失敗@@");
                })
        };






        $(document).ready(function () {
            LoadData()

        });


    </script>



}
