body {
    width: 100%;
    height: 100%;
}

.back {
    width: 100%;
    height: 100%;
    /*background-color: #3e3e3e;*/
    background-color: rgba(181, 181, 181, 0.9);
    padding: 20px;
}

.Login {
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    width: 550px;
    min-height: 460px;
    background: linear-gradient(to bottom, #fc8d61 33%, white 33%, white 100%);
    border-radius: 20px;
    text-align: center;
    padding-top: 1px;
    padding-bottom: 10px;
    margin-top: 10px;
    transition: 1s;
}

    .Login p {
        font-size: 25px;
        color: #ffffff;
        font-weight: 900;
    }

    .Login .Login_Logo {
        background-color: rgb(255, 255, 255);
        width: 125px;
        height: 120px;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        margin: auto;
    }

        .Login .Login_Logo img {
            width: 90px;
            height: 80px;
        }

    .Login .Login_content {
        background-color: rgb(255, 255, 255);
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        margin: auto;
        width: 450px;
        height: 100%;
        border-radius: 20px;
        padding: 20px;
    }

*:focus {
    outline: none;
}

.Login .Login_content .form-group {
    /* border-bottom: 1px solid #000; */
    height: 100%;
    width: 100%;
    border-bottom: 1px solid #000000;
    align-items: center;
    justify-content: center;
}

    .Login .Login_content .form-group:hover {
        border-bottom: 1px solid #fc8d61;
    }

.Login .Login_content .Login_content-title {
    font-size: 25px;
    color: #fc8d61;
    font-weight: 900;
}

.Login .Login_content input {
    font-size: 22px;
}

    .Login .Login_content input:hover {
        background-color: #e8f0fe;
    }

::placeholder {
    color: #474646;
    font-size: 18px;
    line-height: 27px;
    font-weight: 600;
}

.form-check a {
    text-decoration: none;
}

.google {
    border: 0;
    background-color: rgb(221, 76, 57)
}

.Login i {
    border: 0;
    background-color: none;
    background: none;
    color: black;
    border-radius: 20px;
}

.login {
    border: 0;
}

.Login_footer a {
    text-decoration: none;
}

.Login .fa-google, .Login .fa-line, .Login .fa-facebook, #btnSignIn {
    font-size: 40px;
    cursor: pointer;
}
.Login .fa-google {
    color: #d54936;
}
.Login .fa-facebook {
    color: #3b5998;
}
.Login .fa-line {
    color: #00a818;
}

/* 手機板設計 */
@media screen and (max-width:768px) {
    .back {
        padding: 0;
    }

    .Login {
        margin: 0;
        border-radius: 0px;
        width: 100%;
        min-height: 90vh;
        text-align: center;
        padding: 20px;
    }

        .Login p {
            margin-top: 20px;
        }

        .Login .Login_Logo {
            display: none;
        }

        .Login .Login_content {
            width: 100%;
            height: 67vh;
        }
}
