

<div class="modal fade" tabindex="-2" id="LoginModal">
    <div class="modal-dialog">
        <div class="modal-content">
            <button type="button" class="btn-close position-absolute top-0 end-0 m-2 " data-bs-dismiss="modal" aria-label="Close"></button>
            <div class="modal_header ">
                <div class="Modal_Logo">
                    <img src="https://soulkey373.github.io/WorkFinalblock/image/rentIcon.svg">
                </div>
                <h5 class="modal-title">從任何人那裡租任何東西</h5>
            </div>
            <div class="modal_content shadow px-3">
                <h5 class="modal-title text-center my-4">加入我們值得信賴和經過驗證的社群</h5>
                <form>
                    <div class="form-group  my-4">
                        <input type="Email" class="w-100  border-0" placeholder="電子郵件">
                    </div>
                    <div class="form-group d-flex my-4">
                        <input type="password" class="w-100  border-0" placeholder="密碼">@*<img src="https://soulkey373.github.io/WorkFinalblock/image/eye.png">*@
                    </div>
                    <div class="form-group d-flex my-4">
                        <input type="password" class="w-100  border-0" placeholder="確認密碼">@*<img src="https://soulkey373.github.io/WorkFinalblock/image/eye.png">*@
                    </div>
                    <div class="form-check d-flex my-3">
                        <input type="checkbox" class="" id="exampleCheck1">
                        <label class="mx-3" for="exampleCheck1">我接受 <a class="text-primary mx-1">服務條款</a></label>
                    </div>
                    <button type="submit" class="btn my-4 text-light w-100" id="sign">註冊</button>
                </form>
            </div>
            <div class="modal_footer my-4 ">
                <h5 class="my-4 text-center">有帳戶嗎?<a class="text-primary m-1"><strong>登入</strong></a></h5>
                <div class="Modal_footer-content">
                    <span class="bg-white "></span>
                    <span></span>
                    <span></span>
                    <span></span>
                    <span></span>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="modal fade" tabindex="-1" id="SignModal2">
    <div class="modal-dialog">
        <div class="modal-content">
            <button type="button" class="btn-close position-absolute top-0 end-0 m-2 " data-bs-dismiss="modal" aria-label="Close"></button>
            <div class="modal_header ">
                <div class="Modal_Logo">
                    <img src="https://soulkey373.github.io/WorkFinalblock/image/rentIcon.svg">
                </div>
                <h5 class="modal-title">從任何人那裡租任何東西</h5>
            </div>
            <div class="modal_content shadow px-3">
                <h5 class="modal-title text-center my-4">登錄繼續</h5>
                <form>
                    <div class="form-group  my-4">
                        <input type="Email" class="w-100  border-0" placeholder="電子郵件">
                    </div>
                    <div class="form-group d-flex my-4">
                        <input type="password" class="w-100  border-0" placeholder="密碼">
                    </div>
                    <h5 class="text-primary text-end">忘記密碼?</h5>
                    <button type="submit" class="btn my-4 text-light w-100" id="sign">註冊</button>
                    <button type="submit" class="btn my-4 text-light w-100" id="sign-facebook">使用 Facebook 註冊</button>
                </form>
            </div>
            <div class="modal_footer my-4 ">
                <h5 class="my-4">新來的？<a class="text-primary m-1"><strong>註冊</strong></a></h5>
                <div class="Modal_footer-content">
                </div>
            </div>
        </div>
    </div>
</div>
