@model CardsViewModel
<div class="frontSide">
    <div class="category-img">
        <img class="lazyload" data-src=@Model.ImageSrcMain
             alt="">
    </div>
    <div class="categoryName d-grid card-3d">
        <p class="m-auto">@Model.CategoryName</p>
    </div>
</div>
<div class="backSide">
    <div class="category-img">
        <img class="lazyload" data-src=@Model.ImageSrcSecond alt="">
    </div>
    <div class="d-grid card-3d">
        @Html.ActionLink("查看所有", "ProductList", "Product", new { categoryID = @Model.CategoryID }, new { @class = "checkitOut_ct m-auto multiline" })
    </div>
</div>

